<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Restaurant Name</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="/styles/about_us.css" />
  </head>
  <body>
    <header>
      <nav class="container">
        <span>
          <h2>Restaurant Name</h2>
        </span>
        <div>
          <ul class="table">
            <li><a href="/#">Home</a></li>
            <li><a href="/order">Menu</a></li>
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/contact_us">Contact</a></li>
          </ul>
        </div>
        <div>
          <a href="/login" class="btn button-style">Login</a>
          <a href="/register" class="btn button-style">Sign up</a>
        </div>
      </nav>
    </header>

    <main class="about-us">
      <div class="food-container3">
        <img
          src="./images/about us pic 2.webp"
          alt="image of friends eating pizza"
          class="food-image"
        />
      </div>
      <div class="about-section">
        <h3>
          We strive to bring you a delightful culinary experience right to your
          doorstep.
        </h3>
      </div>

      <div class="features-section">
        <h5>Our Story</h5>
        <p>
          At Restaurant Name, our journey began with a simple vision: to
          redefine the way people experience food delivery. We envisioned a
          platform that not only offered convenience but also celebrated the art
          of cooking. Our founders, food enthusiasts themselves, embarked on a
          mission to curate a diverse menu that satisfies all your cravings.
        </p>

        <h5>Quality Ingredients</h5>
        <p>
          We take immense pride in sourcing only the freshest and highest
          quality ingredients for our dishes. From farm-fresh vegetables to
          succulent meats, every ingredient is carefully selected to ensure that
          your meals are nothing short of extraordinary. Your satisfaction is
          our ultimate goal, and we believe it starts with the finest
          ingredients.
        </p>

        <h5>Contactless Delivery</h5>
        <p>
          In today's fast-paced world, we understand the importance of safety
          and convenience. That's why we offer contactless delivery, ensuring
          that your meals arrive at your doorstep with the utmost care and
          hygiene. From the moment you place your order to the final delivery,
          your well-being is our top priority.
        </p>

        <h5>Customer-Centric Approach</h5>
        <p>
          We believe in building strong relationships with our customers. Your
          feedback and suggestions are invaluable to us, and we continuously
          strive to improve and tailor our services to meet your expectations.
          Your happiness is our success. We invite you to embark on a culinary
          journey with us. Whether it's a cozy dinner for two, a family feast,
          or a quick bite, Restaurant Name is here to cater to all your
          cravings. Experience the joy of delicious food, delivered to your
          doorstep, and let us be a part of your cherished moments.
        </p>
      </div>
    </main>

    <footer class="foot">
      <p>&copy; 2023 Group 4. All rights reserved.</p>
    </footer>
  </body>
</html>
