<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
     <link rel="stylesheet" href="/styles/contact_us.css" />
  </head>
  <body>
    <header>
      <nav class="container">
        <span>
          <h2>Restaurant Name</h2>
        </span>
        <div>
          <ul class="table">
            <li><a href="/views/home.ejs">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="/views/about_us.html">About Us</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div>
          <button type="submit">Login</button>
          <button type="submit">Sign Up</button>
        </div>
      </nav>
    </header>
    <span class="border"></span>
    <div class="container">
        <section class="empty">
          <h2>Get in touch</h2>
          <div class="in-touch">
            <p>We will love to hear from you</p>
            <p>You can reach us anytime via our social media handle</p>
            <div>
              <div class="social-icons">
                <img
                  src="/public/images/fbk.png"
                  alt="Facebook Icon"
                  class="icon"
                />
                <img
                  src="/public/images/insta.png"
                  alt="Instagram Icon"
                  class="icon"
                />
                <img
                  src="/public/images/twit.png"
                  alt="Twitter Icon"
                  class="icon"
                />
              </div>
            </div>
          </div>
        </section>

        <div class="contact">
          <h2 style="font-style: oblique">
            Please ask a question or leave a review:
          </h2>
          <form action="">
            <label for="namee">Name</label><br />
            <input
              type="text"
              id="namee"
              name="namee"
              placeholder="Enter your name"
            /><br />
            <label for="emaill">Email</label><br />
            <input
              type="email"
              id="emaill"
              name="emaill"
              placeholder="Email address (Preferably your official email)"
            /><br />
            <label for="number">Phone Number</label><br />
            <input type="phone" id="number" name="number" /><br />
            <label for="questions">Message</label><br />
            <input
              type="text"
              id="questions"
              name="questions"
              placeholder="Please leave a message"
            /><br />
            <input type="radio" id="question" name="choice" />
            <label for="question">Question</label><br />
            <input type="radio" id="feedback" name="choice" />
            <label for="feedback">Review</label><br />
            <button class="but" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
     <footer class="foot">
      <p>&copy; 2023 Group 4. All rights reserved.</p>
    </footer>
  </body>
</html>
