<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
     <link rel="stylesheet" href="/styles/contact_us.css" />
     
  </head>
  <body>
    <header>
      <nav class="contain__r">
        <span>
          <h2>Restaurant Name</h2>
        </span>
      </nav>
    </header>
    <span class="border"></span>
    <div class="container">
        <section class="empty">
          <h2>Get in touch</h2>
          <div class="in-touch">
            <p>We will love to hear from you</p>
            <p>You can reach us anytime via our social media handle</p>
            <div>
              <div class="social-icons">
                <img
                  src="./images/fbk.png"
                  alt="Facebook Icon"
                  class="icon"
                />
                <img
                  src="./images/insta.png"
                  alt="Instagram Icon"
                  class="icon"
                />
                <img
                  src="./images/twit.png"
                  alt="Twitter Icon"
                  class="icon"
                />
              </div>
                  <p>Address : 0123 Toronto,Ontario Canada.</p>
            </div>
          </div>
        </section>

        <div class="contact">
          <h2 style="font-style: oblique">
            Please ask a question or leave a review:
          </h2>
          <form action="">
            <div>
      
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder=" Enter your name"
            style="width: 300px"
            type="name"
            id="name"
            name="name"
            required
          />
        </div>
            <br />
           <div>
      
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder=" Enter phone number or email"
            style="width: 300px"
            type="name"
            id="name"
            name="name"
            required
          />
        </div>
            <br />
            <div>
            <input
            class="form-control"
            type="textarea"
            name="name"
            placeholder=" Please leave a message"
            style="width: 300px ;height: 150px";
            type="name"
            id="name"
            name="name"
            required
          />
          </div>
           <br />
           <div>
        <button type="submit" style="width: 300px" class="btn btn-primary">Submit</button>
        </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
