<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Home</title>
    <!-- Add your external stylesheets here -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/body.css" />
    <link rel="stylesheet" href="/styles/card.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>
  <body>
    <nav class="container">
      <span>
        <h2>Restaurant Name</h2>
      </span>
      <div>
        <ul class="table">
          <li><a href="/views/home.ejs">Home</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="/views/about_us.html">About Us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div>
        <button type="submit">Login</button>
        <button type="submit">Sign Up</button>
      </div>
    </nav>
    <div class="boddy">
      <div class="food-container1">
        <h2 class="food-text">It's not just the food, it's an experience.</h2>
        <div class="food_buttons">
          <form action="/order" method="GET">
            <button type="submit" class="order-button">Order Pickup</button>
          </form>
          <button type="submit">View Menu</button>
        </div>
      </div>
      <div class="food-container2">
        <img
          src="./images/food_pics.jpeg"
          alt="picture of a food tray"
          class="food-image"
        />
      </div>
    </div>
    <section class="box-container">
      <h3 class="box_header">We provide flexible ordering options</h3>
      <div class="parent-box">
        <div class="boxes">
          <img
            src="https://assets-global.website-files.com/603fc2400ebb18ead7899278/604055093d61b353ddebc7f5_done_24px_rounded.svg"
            loading="lazy"
            width="57"
            alt=""
            class="check-mark bt-mr-3"
          />
          <b>Contactless pickup</b>
          <em>
            <p>
              Opt for contactless pickup and enjoy a safe and hassle-free online
              food delivery experience through your website, Facebook and
              Instagram.
            </p>
          </em>
        </div>
        <div class="boxes">
          <img
            src="https://assets-global.website-files.com/603fc2400ebb18ead7899278/604a99e69b4ec14f8e0b1568_Delivery-icon.png"
            loading="lazy"
            width="57"
            alt=""
            class="check-mark bt-mr-3"
          />
          <b>Flat fee delivery</b>
          <em>
            <p>
              Experience the simplicity of flat fee delivery for all your online
              food orders xperience the simplicity of flat fee delivery for all
              your online food orders or do it on your own.
            </p>
          </em>
        </div>
        <div class="boxes">
          <img
            src="https://assets-global.website-files.com/603fc2400ebb18ead7899278/604a99eca775ff4056dcdfa9_QR-icon.png"
            loading="lazy"
            width="57"
            alt=""
            class="check-mark bt-mr-3"
          />
          <b>QR code menus</b>
          <em>
            <p>
              Scan our QR code for a seamless online food delivery experience!
            </p>
          </em>
        </div>
      </div>
    </section>

    <section class="box-container2">
      <h3 class="box_header2">How online ordering works</h3>
      <div class="parent-box2">
        <div class="cards">
          <img
            src="https://assets-global.website-files.com/603fc2400ebb18ead7899278/6051229ca8fbde4adff26411_one_24px.png"
            loading="lazy"
            alt=""
            class="number bt-mr-3"
          />
          <h5>Customer places an order</h5>
          <p>
            Customers order and pay ahead via the website, social media or QR
            code menus.
          </p>
        </div>
        <div class="cards">
          <img
            src="https://assets-global.website-files.com/603fc2400ebb18ead7899278/6051231cfe26e13f80ec0243_two_24px.png"
            loading="lazy"
            alt=""
            class="number bt-mr-3"
          />
          <h5>Restaurant accepts order</h5>
          <p>Restaurant accepts the order on the website.</p>
        </div>
        <div class="cards">
          <img
            src="https://assets-global.website-files.com/603fc2400ebb18ead7899278/6051231c2f3397b984d4052c_three_24px.png"
            loading="lazy"
            alt=""
            class="number bt-mr-3"
          />
          <h5>Order is ready to be picked up</h5>
          <p>Customer or delivery driver picks up order when notified.</p>
        </div>
      </div>
    </section>
    <footer class="foot">
      <p>&copy; 2023 Group 4. All rights reserved.</p>
    </footer>
  </body>
</html>
