<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Add your external stylesheets here -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/login.css" />
  </head>
  <body>
    <nav class="container">
      <span>
        <h2>Restaurant Name</h2>
      </span>
    </nav>
    <div class="center-container">
      <form>
        <!-- <h1>Login</h1> -->
        <div>
          <label for="email">What's your phone number or email?</label>
          <input
            class="form-control"
            type="text"
            name="email"
            placeholder=" Enter phone number or Email"
            style="width: 300px"
            type="email"
            id="email"
            name="email"
            required
          />
        </div>
        <br />
        <div>
          <label for="password">Password:</label>
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder=" Password"
            style="width: 300px"
            type="password"
            id="password"
            name="password"
            required
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
