<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Queue</title>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="./scripts/orders.js"></script>
</head>

<body>
  <h1> Restaurant Name</h1>

  <div class="content-page">

    <div class="new-orders">
      <h2> New Orders </h2>
      <div>

      </div>
    </div>
    <br>

    <div class="accepted-orders">
      <h2> Accepted Orders </h2>
      <div>

      </div>


    </div>
    <br>

    <div class="picked-up-orders">
      <h2> Picked Up Orders </h2>

      <div>

      </div>

    </div>

</body>

</html>
