<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Queue</title>

  <link rel="stylesheet" href="/styles/orders-queue.css" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script defer src="./scripts/ordersQueue.js"></script>
  <script defer src="./scripts/newOrderActions.js"></script>
</head>

<body>
  <h1> Restaurant Name</h1>

  <div class="content-page">

    <h2> New Orders </h2>
    <div class="new-orders">
      <!-- <div>

      </div> -->
    </div>
    <br>

    <h2> Accepted Orders </h2>
    <div class="accepted-orders">
      <div>

      </div>


    </div>
    <br>

    <h2> Completed Orders </h2>
    <div class="completed-orders">

      <div>

      </div>

    </div>





</body>

</html>
