.boddy {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  margin-top: 10px;
  background-color: lavender;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.food-container1,
.food-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.food-container1 h2 {
  font-size: 50px;
  margin-top: 50px;
  padding-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 0%;
  font-style: italic;
}

.food_buttons {
  display: flex;
  gap: 20px;
}

.food_buttons {
  margin-top: 25px;
}

.food-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin-right: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  filter: blur(0px);
}
