/* body */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background-color: aliceblue;
  font-size: 24px;
  font-family: "Sarabun", sans-serif;
}
/* nav section */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.container h2 {
  font-size: 30px;
}

.table li {
  display: inline-block;
  margin-left: 20px;
  padding-left: 40px;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.table li a {
  color: black;
  text-decoration: none;
}

.table li a:hover {
  color: #db2929;
  text-decoration: none;
}

button[type="submit"] {
  background-color: rebeccapurple;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px;
  font-size: 15px;
}

button[type="submit"]:hover {
  background-color: gray;
  cursor: pointer;
}

/* icons from contact us  */
social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}

p {
  font-size: 17px;
}
/* button style */
.but {
  background-color: rebeccapurple;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  font-size: 15px;
  width: 115%;
  padding: 12px;
}

button[type="submit"]:hover {
  background-color: gray;
  cursor: pointer;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
}

label {
  padding-bottom: 10px;
}

.foot {
  margin-top: 20%;
  border-top: 1px solid rgb(146, 136, 136);
}
