body {
  font-family: "Sarabun", sans-serif;
}

h1 {
  background-color: #f2f2f2;
  padding: 20px;
}



.content-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  margin: 10%;


  .new-orders {
    display: flex;
    flex-direction: column;
    background: rgba(109, 119, 109, 0.192);
  }

  span {
    font-weight: 900;
  }
}
